<div class='modal fade' id='playersModal' tabindex='-1' aria-labelledby='playersModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered'>
        <div class='modal-content bg-dark text-white'>
            <div class='modal-header'>
                <h5 class='modal-title' id='playersModalLabel'>Joined Players</h5>
                <button type='button' class='btn-close btn-close-white' data-bs-dismiss='modal'
                    aria-label='Close'></button>
            </div>

            <div class='modal-body'>
                <% if (voters.length> 0) { %>
                    <table class='table table-sm table-dark table-bordered align-middle mb-0 table-hover'>
                        <thead>
                            <tr>
                                <th scope='col'></th>
                                <th scope='col'>Name</th>
                                <th scope='col'>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% voters.forEach((voter, index)=> { %>
                                <tr>
                                    <td>
                                        <img src='/uploads/profile/<%= voter.profile_picture || "default.png" %>'
                                            alt='Profile' width='36' height='36'
                                            class='rounded-circle bg-light object-cover'>
                                    </td>
                                    <td>
                                        <%= voter.vote_name %>
                                    </td>
                                    <td>
                                        <% if (!voter.users_id) { %>
                                            <span class="badge bg-secondary">Guest</span>
                                            <% } else if (voter.type_id===1) { %>
                                                <span class="badge bg-info text-dark">Regular</span>
                                                <% } else { %>
                                                    <span class="badge bg-primary">Member</span>
                                                    <% } %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <em>No players joined yet.</em>
                        <% } %>
            </div>

            <div class='modal-footer'>
                <button type='button' class='btn btn-outline-light' data-bs-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>