<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
    <title> Error </title>
</head>

<body class='errorbody'>
    <main>
        <div class='errorbox'>
            <h1> Error Occurred </h1>
            <p><strong>
                    <%= message %>
                </strong></p><br>
            <a class='errorlink' href='/'> Home </a>
        </div>
    </main>
</body>