<head>
    <link href= 'https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel= 'stylesheet'>
    <link rel = 'stylesheet' href = '/main.css'/>
</head>

<body>
    <header class= 'header'>
        <nav class= 'navbar'>
            <ul class= 'nav-buttons'>
                <form method= 'GET' action= "/">
                    <button> Home </button>
                </form>
                <form method= 'GET' action= "/users">
                    <button> Users </button>
                </form>
                <form method= 'GET' action= "/monthly">
                    <button> Monthly </button>
                </form>
                <form method= 'GET' action= "/funding">
                    <button> ADHOC </button>
                </form>
                <form method= 'GET' action= "/spend">
                    <button> Spending </button>
                </form>
            </ul>
        </nav>
    </header>  

    <div class="flex-container">
        <div class="container">
            <h1 class= 'title'> Add New Entry </h1>
            <form method= 'POST' action= '/addfunding'>
                <input type= 'text' name= 'funding_amount' class= 'form' placeholder= 'Amount'>
                <input type= 'text' name= 'funding_desc' class= 'form' placeholder= 'Description'>
                <!-- <input type= 'url' name= 'funding_receipt' class= 'form' placeholder= 'Reference'> -->
                <input type= 'text' name= 'funding_receipt' class= 'form' placeholder= 'Reference'>
                <button type='submit'>Submit</button>
            </form>
        </div>
    </div>
</body>