<%- include('partials/head') %>

    <body>
        <%- include('partials/errors') %>
            <header class='header'>
                <nav class='navbar'>
                    <ul class='nav-buttons'>
                        <form method='GET' action='/'>
                            <button> Home </button>
                        </form>
                    </ul>
                </nav>
            </header>
            <main>
                <div class='flex-container'>
                    <h1 class='title' style='color:transparent'> Login </h1>
                    <form method='POST' action='/login'>
                        <input type='text' name='username' class='form' placeholder='Enter Username' required>
                        <input type='password' name='password' class='form' placeholder='Enter Password' required>
                        <button> Login </button>
                    </form>
                </div>
            </main>
    </body>