<head>
    <link href= 'https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel= 'stylesheet'>
    <link rel = 'stylesheet' href = '/style.css'/>
</head>

<body>
    <% if (error === 'duplicate') { %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          alert('Error: Already paid for selected month');
        });
      </script>
    <% } %>

    <header class= 'header'>
        <nav class= 'navbar'>
            <ul class= 'nav-buttons'>
                <form method= 'GET' action= '/'>
                    <button> Home </button>
                </form>
                <form method= 'GET' action= '/users'>
                    <button> Users </button>
                </form>
                <form method= 'GET' action= '/monthly'>
                    <button> Monthly </button>
                </form>
                <form method= 'GET' action= '/funding'>
                    <button> ADHOC </button>
                </form>
                <form method= 'GET' action= '/spend'>
                    <button> Spending </button>
                </form>
                <form method= 'GET' action= '/report'>
                    <button> Report </button>
                </form>
            </ul>
        </nav>
    </header>  

    <div class='flex-container'>
        <h1 class= 'title'> Monthly Payment </h1>
        <form method= 'POST' action= '/addmonthly'>
            <select name= 'users_id' class= 'form' required>
              <option value= ''> Select User </option>
              <% users.forEach(function(users) { %>
                <option value= '<%= users.users_id%>'><%= users.nickname %></option>
              <% }); %>
            </select>
            <input type= 'text' name= 'monthly_amount' class= 'form' placeholder= 'Amount' required>
            <select name= 'month_id' class= 'form' required>
              <option value= ''> Month </option>
              <% months.forEach(function(months) { %>
                <option value='<%= months.month_id%>'><%= months.month_name %></option>
              <% }); %>
            </select>
            <input type= 'url' name= 'monthly_receipt' class= 'form' placeholder= 'Reference' required>
            <button type= 'submit'> Submit </button>
        </form>
    </div>
</body>
