<head>
    <link href= 'https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel= 'stylesheet'>
    <link rel = 'stylesheet' href = '/monthly.css'/>
</head>

<body>
    <header class= 'header'>
        <nav class= 'navbar'>
            <ul class= 'nav-buttons'>
                <form method= 'GET' action= "/">
                    <button> Home </button>
                </form>
                <form method= 'GET' action= "/users">
                    <button> Users </button>
                </form>
                <form method= 'GET' action= "/monthly">
                    <button> Monthly </button>
                </form>
            </ul>
        </nav>
    </header>  

    <div class="flex-container">
        <div class="container">
            <h1 class= 'title'> Register User </h1>
            <form method= 'POST' action= '/addusers'>
                <select name="userlist" class='form' required>
                  <option value="">Select User</option>
                  <% users.forEach(function(users) { %>
                    <option value="<%= users.users_name%>"><%= users.nickname %></option>
                  <% }); %>
                </select>
            
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
