<%- include('partials/head') %>

<body>
    <% if (error === 'duplicate') { %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          alert('Error: User already exists');
        });
      </script>
    <% } %>
    <%- include('partials/header') %>
    <div class= 'flex-container'>
        <h1 class= 'title'> Register User </h1>
        <form method= 'POST' action= '/addusers'>
            <input type= 'text' name= 'username' class= 'form' placeholder= 'Enter Username' required>
            <input type= 'text' name= 'nickname' class= 'form' placeholder= 'Enter Nickname' required>
            <input type= 'password' name= 'password' class= 'form' placeholder= 'Enter Password' required>
            <select name= 'roles_id' class= 'form' required>
                <option value= ''> Role </option>
                <% roles.forEach(function(roles) { %>
                  <option value= '<%= roles.roles_id%>'><%= roles.role_name %></option>
                <% }); %>
            </select>
            <button> Submit </button>
        </form>
    </div>
</body>