/* Header Start*/
.header {
  background-color: #33333300;
  padding: 10px 20px;
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
}
.nav-buttons {
  display: flex;
  gap: 20px;
  font-size: 0.6em;
}
/* Header End */

/* Form Start */
.form {
	border: none;
	border-bottom: 3px solid #ffffff81;
  border-radius: 3px;
	color: #ffffff81;
	padding: 5px 10px;
	background: transparent;
}
.form:hover {
  border-bottom: 3px solid white;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
option {
  color: black;
}
/* Form End */

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff99;
  height: 100%;
  background-image: url('images/home.png');
  background-size: cover;
  background-attachment: fixed;
  font-weight: 100;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input[type=text]:focus {
  outline: none;
}

h1 {
  margin: 0;
  font-size: 50px;
  line-height: 150px;
  font-weight: 300;
}

.dashboard-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.chart-container, .table-container {
  background: #00000045;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.chart-container {
  height: 310px;
  width: 310px;
  color: #ffffff;
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 16px;
  text-align: center;
  font-weight: 350;
}

input[type=checkbox] {
  pointer-events: none;
}