/* Header Start*/
.header {
  background-color: #33333300;
  padding: 10px 20px;
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
}
.nav-buttons {
  display: flex;
  gap: 20px;
  font-size: 0.6em;
}
/* Header End */

/* Form Start */
.form {
	border: none;
	border-bottom: 3px solid #ffffff81;
  border-radius: 3px;
	color: #ffffff81;
	padding: 5px 10px;
	background: transparent;
}
.form:hover {
  border-bottom: 3px solid white;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
option {
  color: black;
}
/* Form End */

/* Dashboard Start */
.dashboard-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.chart-container, .table-container {
  background: #00000095;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.chart-container {
  height: 450px;
  width: 450px;
  color: #ffffff;
}
.table-container {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 16px;
  text-align: center;
  font-weight: 350;
}
input[type=checkbox] {
  pointer-events: none;
}
/* Dashboard Ends */

/* Body-Btn Start */
button {
  border: none;
  border: 3px solid #ffffff81;
  font-size: 1.3em;
  color: #fafafa81;
  padding: 5px 16px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  opacity: 1.0;
}
button:hover {
  border:3px solid #ffffff;
  color: #fafafa;
  transition: 0.3s;
}
/* Body-Btn End */

/* Report Start */
.rtabs {  
  display: flex; 
  cursor: pointer; 
  margin-bottom: 10px; 
}
.rtab { 
  padding: 10px; 
  background: #ddd; 
  margin-right: 5px; 
}
.rtab.active { 
  background: #aaa; 
  font-weight: bold; 
}
.rtab-content { 
  display: none; 
}
.rtab-content.active { 
  display: block; 
}
.rtable { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 10px; 
}
.rtable th, .table td { 
  padding: 5px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
/* Report End */

/* Error Start */
.errorbody { 
  font-family: 'Roboto', sans-serif; 
  background: #fff0f0; 
  padding: 30px;
  background-image: url('images/home.png');
  background-size: cover;
  background-attachment: fixed;
}
.errorbox { 
  padding: 20px; 
}
.errorlink {
  color:white;
  font-size: 21px;
}
/* Error End */

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff99;
  height: 100%;
  background-image: url('images/home.png');
  background-size: cover;
  background-attachment: fixed;
  font-weight: 100;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input[type=text]:focus {
  outline: none;
}

h1 {
  margin: 0;
  font-size: 50px;
  line-height: 150px;
  font-weight: 300;
}