/* Header Start*/
.header {
  background-color: #33333300;
  padding: 10px 20px;
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
}
.nav-buttons {
  display: flex;
  gap: 20px;
  font-size: 0.6em;
}
/* Header End */

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  height: 100%;
  background-image: url('images/home.png');
  background-size: cover;
  background-attachment: fixed;
  font-weight: 100;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input[type=text]:focus {
  outline: none;
}

h1 {
  margin: 0;
  font-size: 50px;
  line-height: 150px;
  font-weight: 300;
}